.form-container {
   border: 4px solid #ffffff;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background: -moz-linear-gradient(top, #ffffff, #ffffff);
   background: -ms-linear-gradient(top, #ffffff, #ffffff);
   background: -o-linear-gradient(top, #ffffff, #ffffff);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:20px;
   width:300px;
   }
.form-field {
   border: 2px solid #b8a38c;
   background: #d6c0a7;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   color: #000000;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
   }
.form-field:focus {
   background: #fff;
   color: #000000;
   }
.form-container h2 {
   text-shadow: #ffffff 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }
.form-title {
   margin-bottom:10px;
   color: #000000;
   text-shadow: #ffffff 0 1px 0;
   }
.submit-container {
   margin:8px 0;
   text-align:right;
   }
.submit-button {
   border: 1px solid #447314;
   background: #570101;
   background: -webkit-gradient(linear, left top, left bottom, from(#913807), to(#570101));
   background: -webkit-linear-gradient(top, #913807, #570101);
   background: -moz-linear-gradient(top, #913807, #570101);
   background: -ms-linear-gradient(top, #913807, #570101);
   background: -o-linear-gradient(top, #913807, #570101);
   background-image: -ms-linear-gradient(top, #913807 0%, #570101 100%);
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   color: #f2f2f2;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   
   }
.submit-button:hover {
   border: 1px solid #447314;
   text-shadow: #31540c 0 1px 0;
   background: #990000;
   background: -webkit-gradient(linear, left top, left bottom, from(#d63d22), to(#990000));
   background: -webkit-linear-gradient(top, #d63d22, #990000);
   background: -moz-linear-gradient(top, #d63d22, #990000);
   background: -ms-linear-gradient(top, #d63d22, #990000);
   background: -o-linear-gradient(top, #d63d22, #990000);
   background-image: -ms-linear-gradient(top, #d63d22 0%, #990000 100%);
   color: #fff;
   }
.submit-button:active {
   text-shadow: #31540c 0 1px 0;
   border: 1px solid #447314;
   background: #050a00;
   background: -webkit-gradient(linear, left top, left bottom, from(#4d0016), to(#990000));
   background: -webkit-linear-gradient(top, #4d0016, #050a00);
   background: -moz-linear-gradient(top, #4d0016, #050a00);
   background: -ms-linear-gradient(top, #4d0016, #050a00);
   background: -o-linear-gradient(top, #4d0016, #050a00);
   background-image: -ms-linear-gradient(top, #4d0016 0%, #050a00 100%);
   color: #fff;
   }
   
   
   .link-button {
   border: 1px solid #447314;
   background: #570101;
   background: -webkit-gradient(linear, left top, left bottom, from(#913807), to(#570101));
   background: -webkit-linear-gradient(top, #913807, #570101);
   background: -moz-linear-gradient(top, #913807, #570101);
   background: -ms-linear-gradient(top, #913807, #570101);
   background: -o-linear-gradient(top, #913807, #570101);
   background-image: -ms-linear-gradient(top, #913807 0%, #570101 100%);
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   color: #f2f2f2;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   width:265px;
   text-align:center;
   
   }
.link-button:hover {
   border: 1px solid #447314;
   text-shadow: #31540c 0 1px 0;
   background: #990000;
   background: -webkit-gradient(linear, left top, left bottom, from(#d63d22), to(#990000));
   background: -webkit-linear-gradient(top, #d63d22, #990000);
   background: -moz-linear-gradient(top, #d63d22, #990000);
   background: -ms-linear-gradient(top, #d63d22, #990000);
   background: -o-linear-gradient(top, #d63d22, #990000);
   background-image: -ms-linear-gradient(top, #d63d22 0%, #990000 100%);
   color: #fff;
   }
.link-button:active {
   text-shadow: #31540c 0 1px 0;
   border: 1px solid #447314;
   background: #050a00;
   background: -webkit-gradient(linear, left top, left bottom, from(#4d0016), to(#990000));
   background: -webkit-linear-gradient(top, #4d0016, #050a00);
   background: -moz-linear-gradient(top, #4d0016, #050a00);
   background: -ms-linear-gradient(top, #4d0016, #050a00);
   background: -o-linear-gradient(top, #4d0016, #050a00);
   background-image: -ms-linear-gradient(top, #4d0016 0%, #050a00 100%);
   color: #fff;
   }